.taskItem {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.taskItem > h2 {
    font-size: 16px;
    font-weight: normal;
    display: inline-block;

}

.taskItem > h2 > span {
    color: gray;
    font-size: 14px;
    font-weight: bold;
}

.deleteBtn {
    background-color: rgb(252, 57, 57);
    margin: 0;
    padding: 5px;
    color: white;
    border: none;
    border-radius: 5px;
    float: right;
}

